/Alien_invasion.py
/bool_less.py
/control_str.py
/Dic_less.py
/exenum.py
/exercise.py
/lesson2.py
/lesson_.py
/lesson_3
/lesson_3.py
/listex
/listex.py
/List_exercise.py
/num.py
/pract.py
/pythstr.py
/Range_less.py
/seque.py
/set_less.py
/Tuple_less.py